---
#   - tenant_tag
#   - service_type: flarum|mediawiki|wordpress
#   - skip_backup: boolean (default false)
#   - delete_older_than_days: int (default 7, negative to disable)

- name: Remove tenant
  hosts: localhost
  connection: local
  gather_facts: false
  become: true
  tasks:
      - name: Set tenant paths
        ansible.builtin.set_fact:
            tenant_dir: "{{ paths.tenants.root }}/{{ tenant_tag }}"
            tenant_user: "tenant_{{ tenant_tag }}"
            tenant_db: "tenant_{{ tenant_tag }}"
            backup_dir: "{{ paths.backup_attic_root }}/{{ tenant_tag }}"
        tags: [always]

      - name: Override backup dir for periodic backups
        ansible.builtin.set_fact:
            backup_dir: "{{ paths.backup_host_root }}/{{ tenant_tag }}/{{ lookup('pipe', 'date +%Y-%m-%d') }}"
        tags: [never, periodic]

      - name: Verify tenant exists
        ansible.builtin.stat:
            path: "{{ tenant_dir }}"
        register: tenant_exists
        tags: [always]

      - name: Fail if tenant does not exist
        ansible.builtin.fail:
            msg: "Tenant directory `{{ tenant_dir }}` does not exist!"
        when: not tenant_exists.stat.exists
        tags: [always]

      # optional backup
      - name: Backup tenant data
        ansible.builtin.include_tasks: ./backup/_backup.yml
        when: not (skip_backup | default(false) | bool)
        tags: [backup, periodic]

      # prune old
      - name: Delete old periodic backups
        ansible.builtin.include_tasks: ./backup/_prune.yml
        when: (delete_older_than_days | default(7) | int) >= 0
        tags: [never, periodic]

      # hard delete
      - name: Cleanup tenant resources
        ansible.builtin.include_tasks: ./backup/_cleanup.yml
        tags: [cleanup]
