---
# root in /app/

# TODO: hardlink extend.php
- name: Copy skeleton structure and mount vendor
  ansible.builtin.include_tasks: ../helpers/copy_structure.yml
  vars:
      mount_paths:
          - "app/vendor"
      exclude_paths:
          - "app/LICENSE"
          - "app/README.md"
          - "app/composer.json"
          - "app/composer.lock"
      service_type: "flarum"
  tags: [always]

# just so that the initial table migrations can run
- name: Render install.json template
  ansible.builtin.template:
      src: "{{ playbook_dir }}/files/srv/skeleton/flarum/install.json"
      dest: "/tmp/tenant_{{ tenant_tag }}_install.json"
      owner: "tenant_{{ tenant_tag }}"
      group: "tenant_{{ tenant_tag }}"
      mode: "640"
  tags: [always]

- name: Run install command
  ansible.builtin.command:
      cmd: |
          php flarum install --file="/tmp/tenant_{{ tenant_tag }}_install.json" --config="/dev/null"
      chdir: "{{ paths.tenants.root }}/{{ tenant_tag }}/app"
  become: true
  become_user: "tenant_{{ tenant_tag }}"
  tags: [always]

- name: Cleanup install.json template
  ansible.builtin.file:
      path: "/tmp/tenant_{{ tenant_tag }}_install.json"
      state: absent
  tags: [always]

# it can't be config.php from the start, because that makes the install command unavailable:
# https://github.com/no-cost/flarum-multitenant/blob/2bd2da87c539cb187040ff84c7b06988dc6e17e3/vendor/flarum/core/src/Foundation/Site.php#L27-L34
- name: Move config_temp.php to config.php
  ansible.builtin.command:
      cmd: mv config_temp.php config.php
      chdir: "{{ paths.tenants.root }}/{{ tenant_tag }}/app"
  tags: [always]

- name: Generate password reset token for admin
  ansible.builtin.set_fact:
      _flarum_reset_token: "{{ lookup('password', '/dev/null chars=ascii_lowercase,digits length=40') }}"
  tags: [always]

- name: Insert password reset token into database
  community.mysql.mysql_query:
      login_unix_socket: /var/run/mysqld/mysqld.sock
      login_db: "tenant_{{ tenant_tag }}"
      query: |
          INSERT INTO password_tokens (token, user_id, created_at)
          VALUES (%s, 1, NOW())
      positional_args:
          - "{{ _flarum_reset_token }}"
  tags: [always]

- name: Send welcome email
  community.general.mail:
      host: "127.0.0.1"
      to: "{{ tenant_admin_email }}"
      subject: "Welcome to no-cost.site!"
      body: |
          Your Flarum forum has been provisioned successfully!

          Domain: https://{{ tenant_hostname }}

          To set your admin password, visit the following link:
          https://{{ tenant_hostname }}/reset/{{ _flarum_reset_token }}

          If you have any questions, please let us know by replying to this e-mail.
      from: "noreply@{{ main_domain }}"
  failed_when: false
  tags: [always]
