---
# root in /app/public/

- name: Copy skeleton structure and mount MediaWiki core directories
  ansible.builtin.include_tasks: ../helpers/copy_structure.yml
  vars:
      mount_paths:
          - "app/public/extensions"
          - "app/public/includes"
          - "app/public/languages"
          - "app/public/skins"
          - "app/public/sql"
          - "app/public/vendor"
      exclude_paths:
          - "app/public/tests"
          - "app/public/README.md"
      service_type: "mediawiki"
  tags: ["skeleton", "mediawiki"]

- name: Run MediaWiki installation script
  ansible.builtin.shell:
      cmd: |
          php maintenance/run.php install \
          --dbname="tenant_{{ tenant_tag }}" \
          --dbserver="127.0.0.1" \
          --dbuser="tenant_{{ tenant_tag }}" \
          --dbpass={{ tenant_db_password | quote }} \
          --server={{ ('https://' + tenant_tag + '.' + main_domain) | quote }} \
          --scriptpath="" \
          --lang="en" \
          --pass={{ tenant_admin_password | quote }} {{ (tenant_tag | replace("_", " ") | title) | quote }} \
          "Admin"
      chdir: "{{ paths.tenants.root }}/{{ tenant_tag }}/app/public"
  changed_when: true
  tags: ["skeleton", "mediawiki"]

- name: Render LocalSettings.php template
  ansible.builtin.template:
      src: "{{ playbook_dir }}/files/srv/skeleton/mediawiki/LocalSettings.php"
      dest: "{{ paths.tenants.root }}/{{ tenant_tag }}/app/public/LocalSettings.php"
      mode: "600"
  tags: ["skeleton", "mediawiki"]
