---
# root in /app/public/

- name: Copy skeleton structure and mount WordPress core directories
  ansible.builtin.include_tasks: ../helpers/copy_structure.yml
  vars:
      mount_paths:
          - "app/public/wp-admin"
          - "app/public/wp-content/plugins"
          - "app/public/wp-content/themes"
          - "app/public/wp-content/mu-plugins"
          - "app/public/wp-includes"
      exclude_paths:
          - "app/public/wp-config-sample.php"
          - "app/public/readme.html"
          - "app/public/license.txt"
      service_type: "wordpress"
  tags: ["skeleton", "wordpress"]

- name: Create wp-config.php with database credentials
  ansible.builtin.command:
      cmd: |
          wp config create
          --dbname='tenant_{{ tenant_tag }}'
          --dbuser='tenant_{{ tenant_tag }}'
          --dbpass='{{ tenant_db_password }}'
          --dbhost='127.0.0.1'
          --locale='en_US'
      chdir: "{{ paths.tenants.root }}/{{ tenant_tag }}/app/public"
      creates: "{{ paths.tenants.root }}/{{ tenant_tag }}/app/public/wp-config.php"
  become: true
  become_user: "tenant_{{ tenant_tag }}"
  tags: ["skeleton", "wordpress"]

- name: Run WordPress installation
  ansible.builtin.command:
      cmd: |
          wp core install
          --url='https://{{ tenant_tag }}.{{ main_domain }}'
          --title='{{ tenant_tag | replace("_", " ") | title }}'
          --admin_user='admin'
          --admin_password='{{ tenant_admin_password }}'
          --admin_email='{{ tenant_admin_email }}'
          --skip-email
      chdir: "{{ paths.tenants.root }}/{{ tenant_tag }}/app/public"
  become: true
  become_user: "tenant_{{ tenant_tag }}"
  changed_when: true
  tags: ["skeleton", "wordpress"]

- name: Set WordPress permalink structure
  ansible.builtin.command:
      cmd: "wp rewrite structure '/%postname%/' --hard"
      chdir: "{{ paths.tenants.root }}/{{ tenant_tag }}/app/public"
  become: true
  become_user: "tenant_{{ tenant_tag }}"
  changed_when: true
  tags: ["skeleton", "wordpress"]

- name: Render wp-config.php template
  ansible.builtin.template:
      src: "{{ playbook_dir }}/files/srv/skeleton/wordpress/wp-config.php"
      dest: "{{ paths.tenants.root }}/{{ tenant_tag }}/app/public/wp-config.php"
      mode: "644"
  tags: ["skeleton", "wordpress"]
